//Font
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');

//Variabel
$primaryColor : #097BCD;
$secondaryColor : #000000;
$tersierColor : #FFFFFF;


//style
body{
    font-family: 'Acme', sans-serif;
    background-image: url(../img/bg1.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65vmax;
    position: absolute;
  @media screen and (max-width: 992px){
    background-size: 112vmax;
  }
}

//Navbar
.nav-box{
.custom-nav{
    .navbar-brand{
        img{
            width: 225px;
            height: 65px;
            margin-top: -5px;
        }
    }

    #navbarNav {
        .navbar-nav{
            margin-right: 10%;
            .nav-item{
                .nav-link{
                    color: $secondaryColor;
                    font-weight: 500;
                    margin-left: 2.1em;
                    font-size: 19px;
                    transition: 0.3s color ease;
                    &:hover{
                        color: darken($primaryColor, 10%);
                    }
                    @media screen and (max-width: 992px){
                       margin-right: 2em;
                      }
                }
                .login-button{
                    background-color: $primaryColor;
                    color: $tersierColor;
                    border-radius: 0.5em;
                    height: 70%;
                    line-height: 70%;
                    margin-top: 6px;
                    border: 0;
                    padding-left: 1em;
                    padding-right: 1em;
                    &:hover{
                        color: darken($secondaryColor, 10%);
                    }
                    @media screen and (max-width: 992px){
                        margin-bottom: 1em;
                      }
                }
            }
        }
        @media screen and (max-width: 992px){
            background-color: aliceblue;
          }
    }
  }
}

//Custom-section
.custom-section{
    margin-top: 13em;
    margin-left: 1em;
    h2{
        font-family: 'Acme', sans-serif;
        font-weight: 700;
        font-size: 3rem;
        white-space: nowrap;
        color: $primaryColor;
        @media screen and (max-width: 992px){
          white-space: nowrap;  
          font-size: 2.4rem;
          font-weight: 700;
       }
    }
    h3{
        font-weight: 400;
        font-size: 2rem;
    }

    p{
        font-family: 'Montserrat', sans-serif; 
        margin-top: 2em;
    }

    a{
        display: inline-block;
        color: white;
        background-color: $primaryColor;
        border-radius: 2em;
        padding: 0.45em 1.6em;
        border: 1px solid $primaryColor;
        text-decoration: none;
        margin-top: 1em;
        transition: 0.8s ease;
        &:hover{
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
        }
    }
    @media screen and (max-width: 992px){
        margin-top: 705px;
      }
}